{% extends "base.html" %}
{% block title %} FastAPI + HTMX {% endblock %}

{% block header %}
  <h1>FastAPI + HTMX</h1>
  <p>Boop bop bam!</p>
{% endblock %}

{% block content %}

  <section role="group">
    <button type="button" hx-get="/dataframe" hx-target="#peloton-table">Processed Data</button>
    <button type="button" hx-get="/month_table" hx-target="#peloton-table">Month Table</button>
    <button type="button" hx-get="/year_table" hx-target="#peloton-table">Year Table</button>
    <button type="button" hx-get="/totals_table" hx-target="#peloton-table">Totals Table</button>
    <button type="button" hx-get="/plotly" hx-target="#peloton-table">Plotly</button>
  </section>  
  
  <section>
    <div id="plotly" hx-get="/plotly" hx-swap="innerHTML"></div>
  </section>
  
  <section class="overflow-auto height-limited" id="peloton-table" hx-get="dataframe" hx-swap="innerHTML" hx-trigger="load">
  </section>
{% endblock %}