<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <title>FastAPI + HTMX</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.yellow.min.css"
>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script 
    src="https://unpkg.com/htmx.org@2.0.0" 
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" 
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- <div class="sidenav">
    <button type="button" hx-get="/dataframe" hx-target="#peloton-table">Processed Data</button>
    <button type="button" hx-get="/month_table" hx-target="#peloton-table">Month Table</button>
    <button type="button" hx-get="/year_table" hx-target="#peloton-table">Year Table</button>
    <button type="button" hx-get="/totals_table" hx-target="#peloton-table">Totals Table</button>
  </div> -->
  
  <header>
    <h1>FastAPI + HTMX</h1>
    <p>Boop bop bam!</p>
  </header>
  
  <main class="container">
    <section role="group">
      <button type="button" hx-get="/dataframe" hx-target="#peloton-table">Processed Data</button>
      <button type="button" hx-get="/month_table" hx-target="#peloton-table">Month Table</button>
      <button type="button" hx-get="/year_table" hx-target="#peloton-table">Year Table</button>
      <button type="button" hx-get="/totals_table" hx-target="#peloton-table">Totals Table</button>
    </section>  
    
    <section class="overflow-auto height-limited">
      <table id="peloton-table" class="striped overflow-auto" hx-get="dataframe" hx-swap="innerHTML" hx-trigger="load"></table>
    </section>
  </main>
</body>
</html>
